$text-section-color: #BB8FB8;

.question{
    


    h2{
        font-family: Lato, sans-serif;
        font-weight: 500;
        font-size: 25px;
        color: $text-section-color;
    }
     margin-bottom: 10px;
}