$text-section-color: #BB8FB8;

.btn-decide{
    width: 50%;
    border: none;
    cursor: pointer;
    height: 35px;
    background-color: $text-section-color;
    border-radius: 8px;
    color: white;
    font-weight: 200;
    transition:  transform 0.5s;
     
      &:active{
          transform: scale(0.9);
      }

}